.container {
    max-width: 500px;
    min-width: 400px;
    margin: 30px 20px;
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    border-radius: 10px;
}

h1{
    color: white;
    padding-left: 30px;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}